#main-section {
    display: flex;
}

.centered {
    justify-content: center;
}

.btn {
    background-color: blueviolet;
}

.btn :hover {
    background-color: violet;
}

#question-section, #score-section {
    display: none;
}